.logo img {
  margin: 0 auto;
  width: 20%;
}
.all-font {
  font-family: 'mitr';
  font-weight: 500;
}

p:hover,
h1:hover,
a:hover {
  background-color: '#367680';
}
.navbar-collapse {
  flex-grow: 0 !important;
}
/* :hover {
  background: "#efefef"
}

:last-child {
  border: "solid 1px #cccccc"
} */
